/* Import Font */
@import url(//db.onlinewebfonts.com/c/e9eb497168c6c6da8b4a858fbe3f0e28?family=FiesoleTextW00-Regular);

@font-face {
    font-family: "FiesoleTextW00-Regular";
    src: url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.eot");
    src: url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.woff") format("woff"), url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e9eb497168c6c6da8b4a858fbe3f0e28.svg#FiesoleTextW00-Regular") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "FiesoleTextW00-Regular";
    min-height: 100vh;
}

main {
    margin: 50px 0;
}

a {
    color: black;
    text-decoration: none;
}


/* Navbar */
nav {
    font-size: 20px;
    font-weight: 500;
    padding: 0 2rem;
}

.nav-logo {
    width: 100px;
}

.nav-logo img {
    max-width: 100%;
}

.nav-item {
    margin: 0 15px;
}

.nav-divider {
    width: 2px;
    height: 25px;
    background-color: gray;
    margin: 0 10px;
}


/* Banner Section */

.banner {
    background-image: url("../assets/Background.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    border-radius: 40px;
    width: 100%;
    height: 300px;
}

.banner-heading {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 40px 0;
}

.banner-overlay {
    width: 90%;
    padding: 40px;
    margin: -150px auto 0 auto;
    box-shadow: 2px 2px 10px lightgray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.banner-carousel {
    width: 100%;
}

#carousel-images {
    transition: .3s linear;
    position: relative;
}

.image-wrapper {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 4px 4px 10px lightgray;
    transition: all .3s linear;
}

.image-wrapper img {
    max-width: 100%;
    border-radius: 5px;
}

.carousel-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px auto;
}

.carousel-button {
    width: 8px;
    height: 6px;
    border-radius: 6px;
    background-color: rgb(38, 38, 68);
    transition: .3s linear;
}

.active-button {
    width: 30px;
}

.strikethrough {
    font-size: 20px;
    text-decoration: line-through;
}

.card-button {
    padding: 10px 25px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    transition: .3s;
    box-shadow: 2px 2px 10px 2px lightgray;
}


.card-button:active {
    transform: scale(.9);
}

.card-title {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

/* Responsive */

@media only screen and (max-width: 768px) {

    /* Banner Section */
    .banner-overlay {
        flex-direction: column;
        width: 95%;
        padding: 20px;
    }
}